*{
  margin:0;
  padding: 0;
}
nav{
  background-color: lightblue;
  display: flex;
  justify-content: space-between;
  padding: 25px 40px;
}

nav ul li{
  list-style: none;
  display: inline-block;
}

nav li a{
  text-decoration: none;
  padding: 10px 15px;
}